
  @import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Martian+Mono:wght@300&family=Montserrat:wght@600&family=Playfair+Display:wght@700&family=Playfair:wght@700&family=Poppins:wght@300;400&display=swap');

body{
    text-align: center;
    margin: 0px;
}
.menu{
    background-color: bisque;
    position: fixed;
    width: 100%;
    top: 0;
    margin-top: 0px;
    z-index: 10;

}
.links{
    display: inline;
    font-size: 30px;
    margin-left:60px ;
}
a{
    text-decoration: none;
    color: blue;
}
/* psuedo class - selector:psuedo-class{property:value;}*/
.nav:hover{
    font-size: 35px;
    color: red;
}
html{
    scroll-behavior: smooth;
}
#profile{
    width:300px;
    height:300px;
    margin-top: 100px;
    border-radius: 50%;
}
#title{
    font-family: 'Playfair Display', serif; 
    margin-top: 0;
    font-size: 60px;
}
h3{
    font-family:  'Montserrat', sans-serif;
     margin-top:  0px;
    
}
#home{
    background-image: linear-gradient(to bottom right,rgb(33, 224, 33),yellow,red);
}
@media (max-width:778px)
{
    p{
        font-size: 1.75rem;
    }
    li{
        font-size: 1.75rem;
    }
    a{
        font-size: 1.75rem;
    }
}